html, body{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5em;
}

body{
  font-family: 'Lato', sans-serif;
  background-image: url();
  background-position: center top;
  background-size: cover;
  margin: 0;
}

.page-title{
  text-align: center;
  font-weight: 100;
}

.page-description{
  border: 1px solid black;
  text-align: center;
  padding: 20px;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item{
  margin: 10px;
}

.gallery-item .thumbnail {

}

/* FOOTER NAVIGATION */

nav {
  background-color: #FFF;
}

nav li {
  margin: 0;
  padding: 0 10px;
}

nav ul {
  display: inline;
}

.contact-btn {

}

.contact-btn a {
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;

}

.contact-btn a:active {
  position: relative;
  bottom: 2px;
}

nav a {
  height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none;
}
